<form action="/search" method="GET">
  <input type="text" name="q" value="">
  <input type="hidden" name="ref" value="<%= ref %>">
  <input type="submit" value="Search">
</form>
<hr />
<h2>
  <%=
    case @documents.size
    when 0
      "No document found"
    when 1
      "One document found"
    else
      "#{@documents.size} documents found"
    end
  %>
</h2>

<ul>
  <% @documents.each do |doc| %>
    <li>
      <%= link_to doc.slug, link_resolver(maybe_ref).link_to(doc) %>
      <%#
        We could have written document_path(id: doc.id, slug: doc.slug, ref: maybe_ref);
        but it's better to use the link_resolver, as it allows you to maintain in one place
        the way all the documents' URLs are supposed to be written, whatever their types.
      %>
    </li>
  <% end %>
</ul>
