<header>
  <a href="/">
    <h1>Your prismic.io project</h1>
  </a>
</header>
<form action="/search" method="GET">
  <input type="text" name="q" value="">
  <input type="hidden" name="ref" value="<%= @ref %>">
  <input type="submit" value="Search">
</form>
<hr />
<h2>
  <%=
    case @documents.size
    when 0
      "No document found"
    when 1
      "One document found"
    else
      "#{@documents.size} documents found"
    end
  %>
</h2>

<ul>
  <% @documents.each do |doc| %>
    <li>
    <%= doc.slugs.first %>
    </li>
  <% end %>
</ul>

<footer>
  <a href="/signin">Sign in to preview changes</a>
</footer>

<pre>
<%= JSON.pretty_generate(@documents) %>
</pre>
