<form action="/search" method="GET">
  <input type="text" name="q" value="">
  <input type="hidden" name="ref" value="<%= @ref %>">
  <input type="submit" value="Search">
</form>
<hr />
<h2>
  <%=
    case @documents.size
    when 0
      "No document found"
    when 1
      "One document found"
    else
      "#{@documents.size} documents found"
    end
  %>
</h2>

<ul>
  <% @documents.each do |doc| %>
    <li>
      <%= link_to_doc(doc, params[:ref]) do %>
        <%= doc.slugs.first %>
      <% end %>
    </li>
  <% end %>
</ul>
