<h1><%=
  case @documents.size
  when 0
    "No result found"
  when 1
    "One document found"
  else
    "#{@documents.size} documents found"
  end
%></h1>

<ul>
  <% @documents.each do |doc| %>
    <li>
      <%= link_to_doc(doc, params[:ref]) do %>
        <%= doc.slugs.first %>
      <% end %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Back to home", root_path(ref: params[:ref]) %>
</p>
