<h1><%=
  case @documents.total_results_size
  when 0
    "No result found"
  when 1
    "One document found"
  else
    "#{@documents.total_results_size} documents found"
  end
%></h1>

<ul>
  <% @documents.each do |doc| %>
    <li>
      <%= link_to doc.slug, link_resolver(maybe_ref).link_to(doc) %>
      <%#
        We could have written document_path(id: doc.id, slug: doc.slug, ref: maybe_ref);
        but it's better to use the link_resolver, as it allows you to maintain in one place
        the way all the documents' URLs are supposed to be written, whatever their types.
      %>
    </li>
  <% end %>
</ul>

<hr>

<%= paginate @documents %>

<hr>

<p>
  <%= link_to "Back to home", root_path(ref: maybe_ref) %>
  <%#
    Passing the ref parameter allows to keep it if we're previewing a future release.
    Note: if @ref is the master ref, then @maybe_ref is nil (allowing to discard the parameter here).
  %>
</p>
