<!DOCTYPE html>
<html>
<head>
  <title>StarterRubyRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <a href="/">
    <h1>Your prismic.io project</h1>
  </a>
</header>

<%= yield %>

<footer>
  <hr />
  <a href="/signin">Sign in to preview changes</a>
</footer>

</body>
</html>
